.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-color: var(--light-text-color);
    border-bottom: 1px solid var(--light-divider-color);
}
.logo_light{
    height: 70%;
    margin-left: 30px;
    
}

@media (max-width: 400px) {
    .header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border-color: var(--light-text-color);
        border-bottom: 1px solid var(--light-divider-color);
    }
    .logo_light{
        height: 30px;
        margin-left: 10px;
        
    }
}