<div class="fullscreen">
    <app-pageload></app-pageload>
    <app-header></app-header>
    <div class="center">
        <div class="max-width">
            <div class="content-relative">
        <div class="content">
            <div class="content-wrapper">
                <div class="chat-history">
                    <app-chat_history></app-chat_history>
                </div>
                <div class="inputs">
                    <app-nickname></app-nickname>
                <div class="spacer"></div>
                    <app-message></app-message>
                </div>
            </div>
        </div>
    </div>
</div></div>

    <app-footer></app-footer>
</div>