.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 201px);
}
  
.message-container {
  flex: 1;
  border-radius: 3px;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form label {
  font-size: 30pt;
  color: var(--light-text-color);
  margin-bottom: 10px;
}

.form textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 2px solid var(--light-divider-color);
  border-radius: 6px;
  background-color: var(--light-bg-color);
  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form textarea:focus {
  border: 1px solid #5995DA;
  box-shadow: 0 0 5px #5995DA;
}

@media (max-width: 600px) {
  .form label{
    font-size: 21px;
  }
  .form textarea {
    min-height: 100px;
  }
  .content{
    height: calc(100vh - 102px);
}
}