.writeText{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}
  
.textbox {
  width: 90%;
  border-radius: 3px;
  padding: 50px;
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.textbox label {
  font-size: 28px;
  color: var(--light-text-color);
}

.textbox textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  border: 2px solid var(--light-divider-color);
  border-radius: 6px;
  background-color: var(--light-bg-color);
  margin-bottom: 10px;
  padding: 7px;

  height: calc(100vh - 350px);
  max-height: 300px;
  min-height: 50px;
}

.textbox textarea:focus {
  border: 1px solid var(--light-highlight-color);
  box-shadow: 0 0 5px var(--light-highlight-color);
}

@media (max-width: 600px), (max-height: 500px){
  .textbox {
    width: 100%;
    padding: 25px;
  }
  .textbox label{
    font-size: 21px;
  }
  .textbox textarea {
    height: calc(100vh - 200px);
    max-height: 300px;
    font-size: 16px;  
  }
  .writeText{
    height: calc(100vh - 100px);
    
}
}