/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body {
    margin: 0;
    background: var(--white);
    width: 100vw;
    overflow: hidden;
    height: 100%;
}

/*Color Variables*/
:root {
    --light-bg-color: #F7F7F7;
    --light-text-color: #27323A;
    --light-divider-color: rgba(39, 50, 58, 0.2);
    --light-gradient-color1: #90E857;
    --light-gradient-color2: #3AD59F;
    --light-error-color: #FF7878;
    --light-highlight-color: #5995DA;
    --hsg-color: #00802f;
    --white: #FFF;
    --gradient: linear-gradient(45deg,var(--light-gradient-color1),var(--light-gradient-color2));;
    --m-query-width: 820px;
}

p {
    color: var(--light-text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1{
    color: var(--light-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}

label{
    color: var(--light-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    
    background-color: var(--white);
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--light-text-color);
    
    font-size: 12pt;
    font-weight: bold;
    color: var(--light-text-color);
    padding: 10px 40px;
   
    cursor: pointer;
}
.button:hover{
    background-color: var(--light-text-color);
    color: var(--white);
}
.button:active{
    background: var(--gradient);
    color: var(--white);
    border: solid var(--gradient);
}


.button-round{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    font-size: 0;
    
    height: 24px;
    width: 24px;
    border-radius: 12px;
    border: 0.5px solid var(--light-text-color);
    background-color: transparent;
    cursor: pointer;  
}
.button-round svg{
    fill: var(--light-text-color);
    height: 12px;
    width: 12px;
}
.button-round:hover{
    background-color: var(--light-text-color);
}
.button-round:hover svg{
    fill: var(--white);
}
.button-round:active{
    background: var(--gradient);
    color: var(--white);
    border-color: var(--gradient);
}
.button-round:hover svg{
    fill: var(--white);
}